// Colors
$primary-color: #13274f;
$secondary-color: #c60c30;
$success-color: #32de84;

// Font-size
$text-xs: 8px;
$text-sm: 12px;
$text-md: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-x-lg: 20px;
$text-2x-lg: 22px;
$text-3x-lg: 24px;

// Border
$radius-base: 8px;
