// Colors
$primary-color: #213f7d;
$primary-light-color: #e5e8ee;
$secondary-color: #39cdcc;
$sec1-color: #fbfbfb;
$sec2-color: #545f7d;
$blacklist-color: #e4033b;

// Font-size
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-x-lg: 20px;
$text-2x-lg: 22px;
$text-3x-lg: 24px;

// Border
$radius-base: 8px;
