@import "../../styles/index";

.aside-nav-wrapper {
  padding: 2em 1em;
  background-color: white;
  position: fixed;
  overflow-y: auto;
  top: 0;
  z-index: 3;
  bottom: 0;
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-500px);
  transition: all 500ms ease-in-out;
  box-shadow: 11px -5px 20px -10px rgba(101, 97, 97, 0.63);
  -webkit-box-shadow: 11px -5px 20px -10px rgba(101, 97, 97, 0.63);
  -moz-box-shadow: 11px -5px 20px -10px rgba(101, 97, 97, 0.63);

  &.active-display {
    transform: translateX(0px);
  }

  // App Logo
  .logo {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;

    svg {
      color: $primary-color;
    }

    p {
      font-weight: 500;
      color: $primary-color;
    }
  }

  // Nav-Links
  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 2em;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 10px;
      color: $primary-color;
      font-weight: 600;

      .defaultIcon {
        color: $primary-color;
      }

      &.activeLink,
      &:hover {
        color: $secondary-color;

        .defaultIcon {
          color: $secondary-color;
        }

        &::after {
          content: "";
          background-color: $secondary-color;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          top: 0;
          right: 0;
        }
      }
    }
  }

  // Notice-Board
  .notice-board {
    background-color: $primary-color;
    color: white;
    padding: 0.5em;
    border-radius: 1em;

    .x-mark-icon {
      cursor: pointer;
      background-color: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.1em;

      .defaultIcon {
        color: $primary-color;
      }
    }

    > div {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      align-items: center;
      padding-bottom: 1em;

      h3 {
        font-size: $text-md;
      }

      p {
        font-size: $text-sm;
        text-align: center;
      }

      .smile-icon {
        background-color: white;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.1em;
        .defaultIcon {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  @include screen-lg {
    transform: translateX(0px);
    box-shadow: none;
  }
}
